/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

/* Root Variables */
:root {
    --red: #a01627;
    --white: #fefefa;
    --slightly-darker-white: #f5f5f5;
    --grey: #858585;
}

/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header Styles */
header {
    background-image: url("../images/UNTAR Background Navbar.png");
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 0.2rem 4rem;
    text-align: center;
}

/* Home Styles */
.home-header {
    background-image: url("../images/UNTAR Background.png");
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 0.2rem 4rem;
    text-align: center;
    height: 625.5;
}

.home-content {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0;
}

.home-search-bar {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.home-search-form {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.5rem 0.5rem;
    width: 40rem;
    height: 3.5rem;
}

.home-search-icon {
    height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.home-search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
    width: 35rem;
    opacity: 75%;
}

.home-search-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 43rem;
    left: 50%;
    transform: translate(-50%, -75%);
    gap: 2.5rem;
}

.restaurant-button {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    width: 20rem;
    height: 8rem;
    box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
}

.restaurant-button-dua {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    width: 20rem;
    height: 8rem;
    box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(158, 158, 158, 0.75);
}

.button-container-background {
    background-color: var(--slightly-darker-white);
    height: 8rem;
}

.restaurant-button span {
    background-color: var(--white);
    color: var(--red);
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.button-dua {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.vl-home {
    width: 2px;
    height: 5rem; /* total height of both lines */
    background: linear-gradient(var(--red) 0% 75%, var(--grey) 75% 100%);
    position: absolute;
}

.home-head {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 15rem 0rem 15rem;
    align-items: flex-end;
}

.home-head-text-settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.home-head-text-settings h1 {
    margin-top: -0.3rem;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.home-head-text-settings p {
    margin-top: -0.7rem;
    font-size: 1rem;
    margin-left: 1rem;
}

header.show-header {
    background-image: none;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    height: 2.5rem;
    margin-right: 0.8rem;
}

.nav-left p {
    font-weight: 100;
    font-size: 2rem;
}

.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.2rem;
}

.nav-right ul li a {
    color: var(--white);
    text-decoration: none;
}

.nav-right ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 4rem;
    text-align: center;
}

/* Eats Search Container */
.eats-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 15rem;
    background-color: var(--slightly-darker-white);
}

.eats-search-container p {
    color: var(--grey);
    font-size: 1.3rem;
}

.eats-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eats-search-form {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.5rem 0.5rem;
    width: 40rem;
    height: 3.5rem;
}

.eats-search-icon {
    height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.eats-search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
    width: 35rem;
    opacity: 75%;
}

.eats-search-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eats Listing Container */
.eats-container {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 2rem;
    gap: 5rem;
}

.eats-filter-container {
    padding: 2.5rem 2.5rem;
    background-color: var(--slightly-darker-white);
    border-radius: 15px;
    width: 16rem;
}

.eats-filter-container h3,
hr,
.eats-filter-pack-container h3 {
    color: var (--grey);
}

.eats-filter-container h3 {
    font-size: 1.3rem;
}

.eats-filter-pack-container {
    margin-bottom: 1rem;
}

.eats-filter-pack-container h3 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.eats-filter-pack {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.eats-filter-pack button {
    width: 1rem;
    height: 1rem;
}

.eats-filter-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.eats-filter-checkbox:checked {
    background-color: var(--red);
}

.eats-filter-pack label {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    color: var (--grey);
}

.eats-filter-pack h3 {
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.eats-results-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    height: fit-content;
}

.eats-card-image {
    background-image: url("../images/Solaria Main Image.png");
    background-position: center;
    background-size: cover;
    height: 13rem;
    width: 20rem;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
}

.eats-card-heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.eats-card-heart-icon {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 75%;
    filter: invert(76%) sepia(88%) saturate(7020%) hue-rotate(337deg)
        brightness(100%) contrast(113%);
    position: relative;
}

.eats-card-content {
    padding: 0 1rem 1rem 1rem;
    background-color: var(--slightly-darker-white);
    border-radius: 0 0 15px 15px;
}

.eats-card-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eats-card-name-rating h1 {
    color: #ae737b;
    font-size: 1.2rem;
}

.eats-card-rating {
    display: flex;
    align-items: center;
}

.eats-card-rating h3 {
    font-size: 0.9rem;
    opacity: 75%;
    color: var(--grey);
}

.eats-card-star-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    filter: invert(80%) sepia(49%) saturate(513%) hue-rotate(333deg)
        brightness(103%) contrast(103%);
}

.eats-card-content p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
    color: var(--grey);
    transform: translateY(-0.5rem);
}

.eats-card-content h2 {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--grey);
}

/* User Management Page */
.vl-red {
    border-left: 2px solid var(--red);
    position: absolute;
    height: 3rem;
}

.user-listings-head {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 15rem 0rem 15rem;
    align-items: flex-end;
}

.user-listings-head-text-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-listings-head-text-settings h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.user-listings-head-text-settings p {
    font-size: 1rem;
    margin-left: 1rem;
}

.user-listings-head-text a {
    color: var(--grey);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.user-listings-create {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-listings-table-wrapper {
    padding: 1.5rem 15rem 2.5rem 15rem;
}

.user-listings-table {
    border: 1px solid rgba(133, 133, 133, 50%);
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
}

.user-listings-table table {
    width: 100%;
    font-size: 1rem;
    border-collapse: collapse;
}

.user-listings-table thead {
    text-align: left;
    border-bottom: 1px solid rgba(133, 133, 133, 50%);
    opacity: 75%;
}

.user-listings-table thead th {
    padding: 1rem 1.5rem;
    color: var(--grey);
    font-weight: 400;
}

.user-listings-table tbody td {
    padding: 1rem 1.5rem;
    color: var(--grey);
    font-weight: 400;
}

.user-listings-table tbody tr:nth-child(even) {
    background-color: var(--slightly-darker-white);
}




.listing-status-online {
    background-color: #d7f6e9;
    color: #188659;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.listing-status-approved {
    background-color: #d7f6e9;
    color: #188659;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.listing-status-offline {
    background-color: rgba(133, 133, 133, 25%);
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.listing-status-pending {
    background-color: rgba(218, 215, 152, 0.25);
    color: #b3a560;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.listing-status-declined {
    background-color: rgba(218, 152, 152, 25%);
    color: #b36060;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.user-listings-table-interact {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.delete-button {
    height: 2rem;
}

.edit-button {
    height: 2rem;
}

.user-listings-table thead th input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 10rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.user-listings-create-forms {
    margin-top: 1.5rem;
    padding: 0rem 15rem 2.5rem 15rem;
    background-color: var(--slightly-darker-white);
}

.user-listings-create-forms form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.create-text-forms-container h1,
.create-image-forms-container h1,
.create-check-forms-container h1 {
    font-weight: 200;
    color: var(--grey);
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.create-text-forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 2.5rem;
    width: 100%;
    margin-left: 0.8rem;
}

.create-h-line {
    border-top: 1px solid rgba(133, 133, 133, 25%);
    width: 100%;
}

.create-image-forms {
    display: flex;
    justify-content: space-between;
    margin-left: 0.8rem;
}

.create-form-control[type="text"],
.create-form-control[type="email"] {
    border: none;
    outline: none;
    padding: 1rem;
    height: 4rem;
    width: 21rem;
    box-sizing: border-box;
    font-weight: 100;
}

.create-form-image-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-check-forms {
    margin-left: 0.8rem;
}

.create-form-group {
    margin-bottom: 2rem;
}

.create-form-group label {
    font-weight: 400;
    color: black;
    font-size: 1rem;
}

.create-checkbox-group {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}

.create-checkbox-pack {
    display: flex;
    align-items: center;
}

.create-checkbox-pack label {
    font-weight: 300;
    color: black;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.create-form-radio {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.create-form-radio:checked {
    background-color: var(--red);
}

.create-form-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.create-form-checkbox:checked {
    background-color: var(--red);
}

.create-save-container,
.edit-submit-contaniner {
    display: flex;
    justify-content: space-between;
}

.create-save,
.edit-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-background-image-container {
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: auto;
}

.show-background-image-container header {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.show-red-bar {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: var(--red);
}

.show-red-bar h2 {
    margin: 0;
    padding-left: 5rem;
    color: var(--white);
    font-weight: 200;
}
.show-info-container {
    padding: 2.5rem 5rem;
}

.show-top {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.show-name {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.show-name h1 {
    margin-left: 1rem;
    font-weight: 400;
    color: var(--grey);
    font-size: 2.5rem;
}

.vl-grey {
    border-left: 2px solid var(--grey);
    position: absolute;
    height: 1.5rem;
}

.show-address {
    display: flex;
    align-items: top;
    margin-top: 0;
}

.show-address h2 {
    margin-top: 0.25rem;
    margin-left: 1.25rem;
    font-weight: 200;
    color: var(--grey);
    font-size: 1rem;
}

.show-rating {
    display: flex;
    align-items: center;
}

.show-rating h3 {
    font-size: 1.5rem;
    opacity: 75%;
    color: var(--grey);
}

.show-star-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
    filter: invert(80%) sepia(49%) saturate(513%) hue-rotate(333deg)
        brightness(103%) contrast(103%);
}

.show-info-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 2.5rem;
}

.show-name-tags {
    width: 100%;
}

.show-name-address-line {
    display: flex;
    align-items: center;
}

.show-vl {
    position: relative;
    height: 5rem;
}

.show-vl::before,
.show-vl::after {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
}

.show-vl::before {
    background-color: var(--red);
    height: 3rem;
    top: 0;
}

.show-vl::after {
    background-color: var(--grey);
    height: 2rem;
    top: 3rem;
}

.show-name-address {
    margin-left: 1.5rem;
}

.show-name-address h1 {
    font-size: 2rem;
    color: var(--grey);
    font-weight: 400;
}

.show-name-address h2 {
    font-size: 1.2rem;
    color: var(--grey);
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.show-rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-rating-interact label {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../images/starunfill.svg') no-repeat center center;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    filter: invert(93%) sepia(89%) saturate(741%) hue-rotate(312deg) brightness(101%) contrast(101%);
}

.show-rating-interact input[type="radio"]:checked ~ label {
    background: url('../images/starfill.svg') no-repeat center center;
    background-size: contain;
    filter: invert(93%) sepia(89%) saturate(741%) hue-rotate(312deg) brightness(101%) contrast(101%);
}

.show-rating-interact input[type="radio"] {
    display: none;
}

.show-tags {
    padding: 1.5rem 0;
}

.show-tags .tag {
    background-color: var(--red);
    color: var(--white);
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 1rem;
}

.show-contact {
    background-color: var(--slightly-darker-white);
    padding: 2.5rem;
    border-radius: 15px;
}

.show-website,
.show-phone,
.show-email {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.show-website-icon,
.show-phone-icon,
.show-email-icon {
    padding: 0.6rem;
    background-color: #DCDCDC;
    border-radius: 15px;
}

.show-website-icon img,
.show-phone-icon img,
.show-email-icon img {
    height: 2.5rem;
}

.show-website-info h2,
.show-phone-info h2,
.show-email-info h2 {
    font-weight: 300;
    color: #686868;
    margin-bottom: 0.5rem;
}

.show-website-info h3,
.show-phone-info h3,
.show-email-info h3 {
    font-weight: 300;
    color: var(--grey);
    margin-top: 0.5rem;
    opacity: 75%;
    font-size: 1rem;
}

.glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.show-carousel-container {
    margin: 2.5rem 5rem;
    padding: 2.5rem;
    background-color: var(--slightly-darker-white);
    border-radius: 15px;
}

.show-carousel-container img {
    height: 25rem;
    width: auto;
}