/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

/* Root Variables */
:root {
    --red: #A01627;
    --white: #FEFEFA;
    --slightly-darker-white: #F5F5F5;
    --grey: #858585;
}

/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-image: url('../images/UNTAR Background Navbar.png');
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 0.2rem 4rem;
    text-align: center;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    height: 2.5rem;
    margin-right: 0.8rem;
}

.nav-left p {
    font-weight: 100;
    font-size: 2rem;
}

.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.2rem;
    
}

.nav-right ul li a {
    color: var(--white);
    text-decoration: none;
}

.nav-right ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 4rem;
    text-align: center;
}

/* Eats Search Container */
.eats-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 15rem;
    background-color: var(--slightly-darker-white);
}

.eats-search-container p {
    color: var(--grey);
    font-size: 1.3rem;
}

.eats-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eats-search-form {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.5rem 0.5rem;
    width: 40rem;
    height: 3.5rem;
}

.eats-search-icon {
    height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.eats-search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
    width: 35rem;
    opacity: 75%;
}

.eats-search-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eats Listing Container */
.eats-container{
    margin-top: 2rem;
    display: flex;
    margin-bottom: 2rem;
    gap: 5rem;
}

.eats-filter-container{
    padding: 2.5rem 2.5rem;
    background-color: var(--slightly-darker-white);
    border-radius: 15px;
    width: 16rem;
}

.eats-filter-container h3, hr,
.eats-filter-pack-container h3{
    color: var(--grey);
}

.eats-filter-container h3{
    font-size: 1.3rem;
}

.eats-filter-pack-container{
    margin-bottom: 1rem;
}

.eats-filter-pack-container h3{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.eats-filter-pack{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.eats-filter-pack button{
    width: 1rem;
    height: 1rem;
}

.eats-filter-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.eats-filter-checkbox:checked {
    background-color: black;
}

.eats-filter-pack label{
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    color: var(--grey);
}


.eats-filter-pack h3{
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.eats-results-container{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 5rem;
}

.eats-card-image{
    background-image: url('../images/Solaria Main Image.png');
    background-position: center;
    background-size: cover;
    height: 13rem;
    width: 20rem;
    padding: 0.5rem;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: flex-end;
}

.eats-card-heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.eats-card-heart-icon{
    width: 1.5rem;
    height: 1.5rem;
    opacity: 75%;
    filter: invert(76%) sepia(88%) saturate(7020%) hue-rotate(337deg) brightness(100%) contrast(113%);
}

.eats-card-content{
    padding: 0 1rem 1rem 1rem;
    background-color: var(--slightly-darker-white);
    border-radius: 0 0 15px 15px;
}

.eats-card-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eats-card-name-rating h1{
    color: #AE737B;
    font-size: 1.2rem;
}

.eats-card-rating{
    display: flex;
    align-items: center;
}

.eats-card-rating h3{
    font-size: 0.9rem;
    opacity: 75%;
    color: var(--grey);
}

.eats-card-star-icon{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    filter: invert(80%) sepia(49%) saturate(513%) hue-rotate(333deg) brightness(103%) contrast(103%);
}

.eats-card-content p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
    color: var(--grey);
    transform: translateY(-0.5rem);
}

.eats-card-content h2{
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--grey);
}