/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

/* Root Variables */
:root {
    --red: #a01627;
    --white: #fefefa;
    --slightly-darker-white: #f5f5f5;
    --grey: #858585;
}

/* Global Styles */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header Styles */
header {
    background-image: url("../images/UNTAR Background Navbar.png");
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 0.2rem 4rem;
    text-align: center;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left img {
    height: 2.5rem;
    margin-right: 0.8rem;
}

.nav-left p {
    font-weight: 100;
    font-size: 2rem;
}

.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.2rem;
}

.nav-right ul li a {
    color: var(--white);
    text-decoration: none;
}

.nav-right ul li a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 4rem;
    text-align: center;
}

/* Eats Search Container */
.eats-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 15rem;
    background-color: var(--slightly-darker-white);
}

.eats-search-container p {
    color: var(--grey);
    font-size: 1.3rem;
}

.eats-search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eats-search-form {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0.5rem 0.5rem;
    width: 40rem;
    height: 3.5rem;
}

.eats-search-icon {
    height: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.eats-search-form input[type="text"] {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 300;
    width: 35rem;
    opacity: 75%;
}

.eats-search-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Eats Listing Container */
.eats-container {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 2rem;
    gap: 5rem;
}

.eats-filter-container {
    padding: 2.5rem 2.5rem;
    background-color: var(--slightly-darker-white);
    border-radius: 15px;
    width: 16rem;
}

.eats-filter-container h3,
hr,
.eats-filter-pack-container h3 {
    color: var (--grey);
}

.eats-filter-container h3 {
    font-size: 1.3rem;
}

.eats-filter-pack-container {
    margin-bottom: 1rem;
}

.eats-filter-pack-container h3 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.eats-filter-pack {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.eats-filter-pack button {
    width: 1rem;
    height: 1rem;
}

.eats-filter-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.eats-filter-checkbox:checked {
    background-color: var(--red);
}

.eats-filter-pack label {
    margin-left: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    color: var (--grey);
}

.eats-filter-pack h3 {
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
}

.eats-results-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    height: fit-content;
}

.eats-card-image {
    background-position: center;
    background-size: cover;
    height: 13rem;
    width: 20rem;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.eats-card-content {
    padding: 0 1rem 1rem 1rem;
    background-color: var(--slightly-darker-white);
    border-radius: 0 0 15px 15px;
}

.eats-card-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eats-card-name-rating h1 {
    color: #ae737b;
    font-size: 1.2rem;
}

.eats-card-rating {
    display: flex;
    align-items: center;
}

.eats-card-rating h3 {
    font-size: 0.9rem;
    opacity: 75%;
    color: var(--grey);
}

.eats-card-star-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    filter: invert(80%) sepia(49%) saturate(513%) hue-rotate(333deg)
        brightness(103%) contrast(103%);
}

.eats-card-content p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
    color: var(--grey);
    transform: translateY(-0.5rem);
}

.eats-card-content h2 {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--grey);
}

/* User Management Page */
.vl-red {
    border-left: 2px solid var(--red);
    position: absolute;
    height: 3rem;
}

.user-listings-head {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 15rem 0rem 15rem;
    align-items: flex-end;
}

.user-listings-head-text-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-listings-head-text-settings h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 1rem;
}

.user-listings-head-text a {
    color: var(--grey);
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.user-listings-create {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-listings-table-wrapper {
    padding: 1.5rem 15rem 2.5rem 15rem;
}

.user-listings-table {
    border: 1px solid rgba(133, 133, 133, 50%);
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
}

.user-listings-table table {
    width: 100%;
    font-size: 1rem;
    border-collapse: collapse;
}

.user-listings-table thead {
    text-align: left;
    border-bottom: 1px solid rgba(133, 133, 133, 50%);
    opacity: 75%;
}

.user-listings-table thead th {
    padding: 1rem 1.5rem;
    color: var(--grey);
    font-weight: 400;
}

.user-listings-table tbody td {
    padding: 1rem 1.5rem;
    color: var(--grey);
    font-weight: 400;
}

.user-listings-table tbody tr:nth-child(even) {
    background-color: var(--slightly-darker-white);
}

.listing-status-online {
    background-color: #d7f6e9;
    color: #188659;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.listing-status-approved {
    background-color: #d7f6e9;
    color: #188659;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.listing-status-offline {
    background-color: rgba(133, 133, 133, 25%);
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
}

.listing-status-pending {
    background-color: rgba(218, 215, 152, 0.25);
    color: #b3a560;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.listing-status-declined {
    background-color: rgba(218, 152, 152, 25%);
    color: #b36060;
    padding: 0.5rem 1rem;
    width: max-content;
    border-radius: 15px;
    font-weight: 500;
}

.user-listings-table-interact {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.delete-button {
    height: 2rem;
}

.edit-button {
    height: 2rem;
}

.user-listings-table thead th input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 10rem;
    border: 1px solid var(--grey);
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.user-listings-create-forms {
    margin-top: 1.5rem;
    padding: 0rem 15rem 2.5rem 15rem;
    background-color: var(--slightly-darker-white);
}

.user-listings-create-forms form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.create-text-forms-container h1,
.create-image-forms-container h1,
.create-check-forms-container h1 {
    font-weight: 200;
    color: var(--grey);
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

.create-text-forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 2.5rem;
    width: 100%;
    margin-left: 0.8rem;
}

.create-h-line {
    border-top: 1px solid rgba(133, 133, 133, 25%);
    width: 100%;
}

.create-image-forms {
    display: flex;
    justify-content: space-between;
    margin-left: 0.8rem;
}

.create-form-control[type="text"],
.create-form-control[type="email"] {
    border: none;
    outline: none;
    padding: 1rem;
    height: 4rem;
    width: 21rem;
    box-sizing: border-box;
    font-weight: 100;
}

.create-form-image-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-check-forms {
    margin-left: 0.8rem;
}

.create-form-group {
    margin-bottom: 2rem;
}

.create-form-group label {
    font-weight: 400;
    color: black;
    font-size: 1rem;
}

.create-checkbox-group {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    gap: 2rem;
}

.create-checkbox-pack {
    display: flex;
    align-items: center;
}

.create-checkbox-pack label {
    font-weight: 300;
    color: black;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.create-form-radio {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.create-form-radio:checked {
    background-color: var(--red);
}

.create-form-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.create-form-checkbox:checked {
    background-color: var(--red);
}

.create-save-container,
.edit-submit-contaniner{
    display: flex;
    justify-content: space-between;
}

.create-save,
.edit-submit {
    background-color: var(--red);
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    width: 13rem;
    height: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
